[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "~=3.7.0"
djangorestframework = "~=3.12.4"
djangorestframework-simplejwt = "~=4.6.0"
pymemcache = "~=3.5.0"
psycopg2-binary = "~=2.8.6"
django-health-check = "~=3.16.4"
python-dotenv = "~=0.17.1"
whitenoise = "~=5.2.0"
Django = "~=3.2.3"

[dev-packages]

[requires]
python_version = "3.7"
